<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<br>
<%= link_to @post.blogger.name, blogger_path(@post.blogger) %>
<br>
<%= link_to @post.destination.name, destination_path(@post.destination) %>
<br>
<%= form_for @post do |f| %>
    <%= f.hidden_field :likes, value: @post.add_like %>

    <%= f.submit %>
<% end %>